{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <h3 class="titleH3">Relevés</h3>



        {% for publication in publications  %}
            <div class="container ">
            <div class="card tabPublication">
            <h3 class="card-title" style="text-align:center;">  <a href="{{ path('publication_show', {'id': publication.id}) }}">{{ publication.title }}</a> </h3>
              <div class="card-body">
              <p>{{publication.classroom}}</p>
              <a href="{{ path('publication_show', {'id': publication.id}) }}">{{ publication.content }}</a>
              <br></br>
              <hr></hr>
              <h6 class="card-subtitle mb-2 text-muted">{{ publication.date ? publication.date|date('Y-m-d') : '' }}</h6>
              <a href="{{ path('publication_show', {'id': publication.id}) }}" style="text-align:right;"><button class="newbtn">voir le relevé</button> </a>
              </div>
            </div>
            </div>

        {% endfor %}
        {{ knp_pagination_render(publications) }}


    <a href="{{ path('new_publication') }}">Créer un nouveau relevé </a>
{% endblock %}
