{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
<div class="container" style="margin-top:35px;background-color:#c9ffd6">
<a href="{{ (app.request.headers.get('referer'))
 }}"><h6><i class="fa fa-arrow-circle-left"></i> Back</h6></a>

    <table class="table">
        <tbody>

            <tr>
                <th><h2>Title : {{ publication.title }}</h2></th>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publication.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ publication.classroom}}</td>
            </tr>
            {% if publication.measure != null %}
            {% if publication.measure.temperature != null %}
            <tr>
                <th>Temperature </th>
                <td>{{ publication.measure.temperature}} °</td>
            </tr>
          {% endif %}

          {% if publication.measure.windSpeed != null %}
          <tr>
              <th>Wind speed </th>
              <td>{{ publication.measure.windSpeed}} km/h</td>
          </tr>
        {% endif %}

        {% if publication.measure.windDirection != null %}
        <tr>
            <th>Wind direction </th>
            <td>{{ publication.measure.windDirection}} °</td>
        </tr>
      {% endif %}

      {% if publication.measure.rainLevel != null %}
      <tr>
          <th>Rain level </th>
          <td>{{ publication.measure.rainLevel}} mm</td>
      </tr>
    {% endif %}
  {% endif %}
        </tbody>
    </table>
    {% set maClasse = 0 %}
  {% for classUser in app.user.classroom %}
    {% if publication.classroom.id == classUser.id %}
      {% set maClasse = maClasse + 1 %}
    {% endif %}
  {% endfor %}

    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_TEACHER') and maClasse == 1 ) %}
    <br></br>
    <a href="{{ path('publication_edit', {'id': publication.id}) }}"><button class="newbtn"> edit </button></a>
<br></br>
    {{ include('publication/_delete_form.html.twig') }}
  {% endif %}
  </div>
{% endblock %}
