{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
<a href="{{ path('publication_index') }}"><h6><i class="fa fa-arrow-circle-left"></i> retour aux relevés</h6></a>

    <table class="table">
        <tbody>

            <tr>
                <th><h2>Titre : {{ publication.title }}</h2></th>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publication.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ publication.classroom}}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
    <br></br>
    <a href="{{ path('publication_edit', {'id': publication.id}) }}"><button class="newbtn"> edit </button></a>
<br></br>
    {{ include('publication/_delete_form.html.twig') }}
  {% endif %}
{% endblock %}
