{% include "base.html.twig" %}

{% block body %}
    <div class="container ">
        {% for message in messages %}
        <hr>

            <div class="card tabPublication">
            <h3 class="card-title" style="text-align:center;"> <a href="{{ message.sender.id }}"> {{ message.sender }}</a> to <a href=""> {{ message.receiver }} </a></h3>

                <p class="text-center">
                    {{ message.content }}
                </p>
                <br></br>
                <h6 class="card-subtitle mb-2 text-muted text-lg-right">{{ message.sendAt ? message.sendAt|date('Y-m-d') : '' }}</h6>

            </div>

    {% endfor %}
    </div>
{% endblock %}


