{% extends 'base.html.twig' %}

{% block title %}PublicMessage index{% endblock %}

{% block body %}
    <h1>Messages envoyés</h1>     <a href="{{ path('public_message_new') }}"><button class="newbtn">Nouveau message</button></a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for public_message in messages_envoyes %}
            <tr>
                <td>{{ public_message.id }}</td>
                <td>{{ public_message.content }}</td>
                <td>{{public_message.date|date('d-m-Y H:i:s')}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h1>Messages reçus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
        {% for public_mess in messages_recus %}
            <tr>
                <td>{{ public_mess.id }}</td>
                <td>{{ public_mess.content }}</td>
                {% if public_mess.date|date('Y-m-d H:i:s') == "-0001-11-30 00:00:00" %}
                <td></td>
                {% else %}
                <td>{{public_mess.date|date('d-m-Y H:i:s')}}</td>
                {% endif %}
                <td><a href="{{ path('repondre', {'id': public_mess.idClasseEmeteur}) }}">répondre</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de messages</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
