


{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="bg-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
        <div class="row">
            <div class="col-sm-12 blog-main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="bg-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <form action="{{ path('search') }}" method="get" name="search">
                    <input type="text" name="state">
                    <input type="text" name="city">
                    <input type="text" name="name">
                    <input type="text" name="latitude">
                    <input type="text" name="longitude">
                    <input type="submit" name="search_submit">
                </form>
            </div>
            </div>

        {% block results %}
            {% if schools is not null %}
                {% if success == false %}
                    <p>No results found</p>
                {% elseif success == true %}
                    <table>
                        <thead>
                        <tr>
                            <th>State</th>
                            <th>City</th>
                            <th>School name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for school in schools %}
                            <tr>
                                <td>{{ school['State'] }} </td>
                                <td>{{ school['city'] }}</td>
                                <td>{{ school['Name'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
            {% if schools is not null %}

            {% endif %}
        {% endblock %}
        {% endblock body %}

            {% endblock content %}

